In [1]:
import pandas as pd
from collections import defaultdict

from faker import Faker
from faker.providers import DynamicProvider
fake = Faker(['en_IN'])

# Will return ['en_US']
fake.locales

['en_IN']

In [15]:
fake_data = defaultdict(list)

In [16]:
fake.unique.clear()
for i in range(1,75000):
    fake_data['orderid'].append(fake.random_int(1,25000))
    fake_data['productid'].append(fake.random_int(1,150))
    fake_data['quantity'].append(fake.random_int(1,10))

In [17]:
dfoi = pd.DataFrame(fake_data)

In [18]:
dfoi

       orderid  productid  quantity
0         2744        135         5
1        19719         25         3
2         5718         56         4
3        16827         42         5
4         7655         61        10
...        ...        ...       ...
74994     1037         97         9
74995     7776        118         5
74996     3749         45         1
74997    23795         22         5
74998    13770        142         6

[74999 rows x 3 columns]

In [22]:
len(dfoi['orderid'].unique())

23775

In [23]:
len(dfoi['productid'].unique())

150

In [27]:
import psycopg2

In [28]:
#establishing the connection
conn = psycopg2.connect(
   database="postgres", user='postgres', password='Krishna839#', host='34.122.187.243', port= '5432'
)
#Creating a cursor object using the cursor() method
cursor = conn.cursor()

In [29]:
create_table = ''' drop table if exists order_items; create table order_items(
                                orderid int ,
                                productid int,
                                quantity int,
                                CONSTRAINT fk_product
                                    FOREIGN KEY(productid) 
                                        REFERENCES product_master(productid))'''

In [30]:
cursor.execute(create_table)
conn.commit()

In [31]:
dfoi.to_csv("order_items", index=False, header=False)