In [68]:
import pandas as pd
from collections import defaultdict

from faker import Faker
import uuid
from faker.providers import DynamicProvider
fake = Faker(['en_IN'])

# Will return ['en_US']
fake.locales

['en_IN']

In [69]:
import random
order_status = DynamicProvider(
     provider_name="order_status",
     elements=["InProgress", "Received", "Delivered"],
)



fake = Faker(['en_IN'])

# then add new provider to faker instance
fake.add_provider(order_status)

# now you can use:
fake.order_status()

'InProgress'

In [20]:
fake_data = defaultdict(list)

In [21]:
fake.unique.clear()
for _ in range(75000):
    fake_data['orderid'].append(fake.random_int(1,25000))
    fake_data['customerid'].append(fake.random_int(1,1000))
    fake_data['order_status_update_timestamp'].append(fake.date_time_between(start_date = "-1y", end_date = "now"))
    fake_data['order_status'].append(fake.order_status())

In [22]:
dfo = pd.DataFrame(fake_data)

In [23]:
dfo

       orderid  customerid order_status_update_timestamp order_status
0        10210         462           2022-01-16 07:39:22   InProgress
1         2898         786           2021-09-12 03:59:49    Delivered
2        12630         737           2021-09-23 20:41:47     Received
3         3587         286           2021-11-23 03:10:15   InProgress
4        16333         857           2021-12-26 18:59:49   InProgress
...        ...         ...                           ...          ...
74995    10594         960           2021-06-26 07:23:05   InProgress
74996     2963         155           2021-07-28 16:08:55     Received
74997    17300         373           2022-05-03 17:17:54    Delivered
74998    10795         206           2021-08-14 09:20:23    Delivered
74999    20798         498           2021-12-08 05:15:21     Received

[75000 rows x 4 columns]

In [ ]:
orderid	customerid	order_status_update_timestamp	order_status

In [30]:
len(dfo["orderid"].unique())

23719

In [31]:
len(dfo["customerid"].unique())

1000

In [32]:
len(dfo["order_status_update_timestamp"].unique())

74915

In [75]:
len(dfo["order_status"].unique())

3

In [76]:
import psycopg2
#establishing the connection
conn = psycopg2.connect(
   database="postgres", user='postgres', password='Krishna839#', host='34.122.187.243', port= '5432'
)
#Creating a cursor object using the cursor() method
cursor = conn.cursor()

In [77]:
create_table = ''' drop table if exists order_details; create table order_details(
                                orderid int ,
                                customerid int,
                                order_status_update_timestamp timestamp,
                                order_status varchar(255),
                                CONSTRAINT fk_customer
                                    FOREIGN KEY(customerid) 
                                        REFERENCES customer_master(customerid))
                                '''

In [39]:
orderid	customerid	order_status_update_timestamp	order_status

SyntaxError: invalid syntax (<ipython-input-39-f24822a454a7>, line 1)

In [78]:
cursor.execute(create_table)
conn.commit()

In [79]:
dfo.to_csv("order_details",index=False, header=False)