In [12]:
import pandas as pd
from collections import defaultdict

from faker import Faker
from faker.providers import DynamicProvider
fake = Faker(['en_IN'])

# Will return ['en_US']
fake.locales

['en_IN']

In [168]:
Product = DynamicProvider(
     provider_name="Product",
     elements=["ashirvad ata", "Sugar", "Jaggery", "Steamed rice", "Basmati rice", "Maida", "Besan flour", "Tamarind", "Red chilli", "Toor dal", "moong dal", "Chana dal", "Rajma", "Peanuts", "Crystal salt", "Dhania powder", "Biryani masala", "Tea powder", "coffee powder", "Pepper", "Dates", "Cinnamon", "Badam", "Noodles", "Pasta", "Butter", "Curd", "Paneer", "Tooth paste", "Body lotion", "Deodarant", "Floor cleaner", "Cooking oil", "Coconut oil", "Garbage bags", "Dettol", "Mosquito liquid", "Olive oil", "Cashew nuts", "Wheat rava", "Milk", "Egg Masala", "Chicken Masala", "Chat Masala", "Sauce", "Honey", "Saffron", "Cumin", "CornFlour Atta", "Chole Masala", "Onion", "Watermelon", "Mango", "Banana", "Orange", "Grapes", "Kiwi"],
)

SKU = DynamicProvider(
     provider_name="SKU",
     elements=["1KG", "2KG", "3KG", "4KG", "5KG", "6KG", "7KG","SPKT", "LPKT", "1Ltr", "5Ltr", "10Ltr"],
)
 

fake = Faker(['en_IN'])

# then add new provider to faker instance
fake.add_provider(Product)
fake.add_provider(SKU)

# now you can use:
fake.Product()
fake.SKU()
# 'dr.'

'4KG'

In [226]:
import random
fake_data = defaultdict(list)

In [227]:
fake.unique.clear()
for i in range(1,151):
    fake_data['productid'].append(i)
    fake_data['productcode'].append(fake.unique.bothify(text = '?##'))
    fake_data['productname'].append(fake.Product())
    fake_data['sku'].append(fake.SKU())
    fake_data['rate'].append(fake.random_int(1,200))
    fake_data['isactive'].append(fake.pybool())

In [228]:
dfp = pd.DataFrame(fake_data)

In [229]:
dfp

     productid productcode  productname    sku  rate  isactive
0            1         d05    moong dal    4KG    46     False
1            2         B77         Curd   5Ltr   112      True
2            3         d45  Body lotion    7KG     9     False
3            4         T20       Dettol    5KG   187     False
4            5         F96      Noodles    4KG    43      True
..         ...         ...          ...    ...   ...       ...
145        146         s52       Orange   1Ltr    63     False
146        147         r04        Mango    1KG   163      True
147        148         f42   Watermelon    1KG   124      True
148        149         A13        Sugar    3KG   174      True
149        150         Z43       Butter  10Ltr   140      True

[150 rows x 6 columns]

In [230]:
len(dfp['productid'].unique())

150

In [231]:
len(dfp['productcode'].unique())

150

In [232]:
len(dfp['productname'].unique())

51

In [233]:
len(dfp['sku'].unique())

12

In [234]:
len(dfp['rate'].unique())

108

In [235]:
len(dfp['isactive'].unique())

2

In [236]:
dfp['productid'].duplicated().sum()

0

In [237]:
import psycopg2

In [238]:
#establishing the connection
conn = psycopg2.connect(
   database="postgres", user='postgres', password='Krishna839#', host='34.122.187.243', port= '5432'
)
#Creating a cursor object using the cursor() method
cursor = conn.cursor()

In [239]:
create_table = ''' drop table if exists product_master; create table product_master(
                                productid int primary key,
                                productcode varchar(255),
                                productname varchar(255),
                                sku varchar(255),
                                rate int,
                                isactive varchar(255))'''

In [240]:
cursor.execute(create_table)
conn.commit()

In [241]:
temp =0
for i in range(len(dfp)):
    productid = int(dfp['productid'].iloc[i])
    productcode = str(dfp['productcode'].iloc[i])
    productname = str(dfp['productname'].iloc[i])
    sku = str(dfp['sku'].iloc[i])
    rate = int(dfp['rate'].iloc[i])
    isactive = str(dfp['isactive'].iloc[i])
    
    
    query = ("insert into product_master(productid,productcode, productname, sku, rate, isactive)"
         "values (%s, %s, %s, %s, %s, %s)")

    val = (productid,productcode, productname, sku, rate, isactive)
    cursor.execute(query,val)
    conn.commit()
    temp = temp + 1
    print(temp, "record inserted",productid)

1 record inserted 1
2 record inserted 2
3 record inserted 3
4 record inserted 4
5 record inserted 5
6 record inserted 6
7 record inserted 7
8 record inserted 8
9 record inserted 9
10 record inserted 10
11 record inserted 11
12 record inserted 12
13 record inserted 13
14 record inserted 14
15 record inserted 15
16 record inserted 16
17 record inserted 17
18 record inserted 18
19 record inserted 19
20 record inserted 20
21 record inserted 21
22 record inserted 22
23 record inserted 23
24 record inserted 24
25 record inserted 25
26 record inserted 26
27 record inserted 27
28 record inserted 28
29 record inserted 29
30 record inserted 30
31 record inserted 31
32 record inserted 32
33 record inserted 33
34 record inserted 34
35 record inserted 35
36 record inserted 36
37 record inserted 37
38 record inserted 38
39 record inserted 39
40 record inserted 40
41 record inserted 41
42 record inserted 42
43 record inserted 43
44 record inserted 44
45 record inserted 45
46 record inserted 46
47 record inserted 47
48 record inserted 48
49 record inserted 49
50 record inserted 50
51 record inserted 51
52 record inserted 52
53 record inserted 53
54 record inserted 54
55 record inserted 55
56 record inserted 56
57 record inserted 57
58 record inserted 58
59 record inserted 59
60 record inserted 60
61 record inserted 61
62 record inserted 62
63 record inserted 63
64 record inserted 64
65 record inserted 65
66 record inserted 66
67 record inserted 67
68 record inserted 68
69 record inserted 69
70 record inserted 70
71 record inserted 71
72 record inserted 72
73 record inserted 73
74 record inserted 74
75 record inserted 75
76 record inserted 76
77 record inserted 77
78 record inserted 78
79 record inserted 79
80 record inserted 80
81 record inserted 81
82 record inserted 82
83 record inserted 83
84 record inserted 84
85 record inserted 85
86 record inserted 86
87 record inserted 87
88 record inserted 88
89 record inserted 89
90 record inserted 90
91 record inserted 91
92 record inserted 92
93 record inserted 93
94 record inserted 94
95 record inserted 95
96 record inserted 96
97 record inserted 97
98 record inserted 98
99 record inserted 99
100 record inserted 100
101 record inserted 101
102 record inserted 102
103 record inserted 103
104 record inserted 104
105 record inserted 105
106 record inserted 106
107 record inserted 107
108 record inserted 108
109 record inserted 109
110 record inserted 110
111 record inserted 111
112 record inserted 112
113 record inserted 113
114 record inserted 114
115 record inserted 115
116 record inserted 116
117 record inserted 117
118 record inserted 118
119 record inserted 119
120 record inserted 120
121 record inserted 121
122 record inserted 122
123 record inserted 123
124 record inserted 124
125 record inserted 125
126 record inserted 126
127 record inserted 127
128 record inserted 128
129 record inserted 129
130 record inserted 130
131 record inserted 131
132 record inserted 132
133 record inserted 133
134 record inserted 134
135 record inserted 135
136 record inserted 136
137 record inserted 137
138 record inserted 138
139 record inserted 139
140 record inserted 140
141 record inserted 141
142 record inserted 142
143 record inserted 143
144 record inserted 144
145 record inserted 145
146 record inserted 146
147 record inserted 147
148 record inserted 148
149 record inserted 149
150 record inserted 150